{% extends "import_export/base_import_export.html" %}
{% load i18n %}
{% load import_export_tags bootstrap_toolkit %}

{% block header %}
<div class="page-header">
    <h1>{{ opts.verbose_name_plural|title }}</h1>
</div>
{% endblock %}

{% block content %}

<div class="container-narrow">
  <form class="form-horizontal" action="" method="POST">
    {% csrf_token %}
      <fieldset>
        <legend>Export {{ opts.verbose_name_plural|title }}</legend>
        {{ form|as_bootstrap }}
      </fieldset>
      <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="Submit" />
          <a href="../">Cancel</a>
      </div>
  </form>
</div>
{% endblock %}
