{% extends "import_export/base_import_export.html" %}
{% load i18n %}
{% load import_export_tags bootstrap_toolkit %}

{% block header %}
<div class="page-header">
    <h1>{{ opts.verbose_name_plural|title }}</h1>
</div>
{% endblock %}

{% block content %}
<div class="container-narrow">
{% if confirm_form %}
  <form class="form-horizontal" action="../process_import/" method="POST">
    {% csrf_token %}
    <fieldset>
      <legend>Import {{ opts.verbose_name_plural|title }}</legend>
      {{ confirm_form|as_bootstrap }}
      <div class="alert alert-warning">
        {% trans "Below is a preview of data to be imported. If you are satisfied with the results, click: <strong>Confirm</strong>" %}
      </div>
      {% include "import_export/results.html" %}
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" name="confirm" value="Confirm" />
        <a href="../">Cancel</a>
    </div>
  </form>

{% else %}
  <form class="form-horizontal" action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <legend>Import {{ opts.verbose_name_plural|title }}</legend>
        <div class="alert alert-info">
          {% trans "This importer will import the following fields: " %}
          {% for f in fields  %}
            {% if forloop.counter0 %}
            , 
            {% endif %}
            <tt><strong>{{ f }}</strong></tt>
          {% endfor %}
        </div>
        {{ form|as_bootstrap }}
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Submit" />
        <a href="../">Cancel</a>
    </div>
  </form>
{% endif %}
</div>
{% endblock %}

{% block extra_style %}
<link href="{{ STATIC_URL }}better_admin/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL }}better_admin/js/jquery.dataTables.js"></script>
<script type="text/javascript">
  $(function () {
    $("#results-table").dataTable();
  });
</script>
{% endblock %}
