{% load widget_tweaks %}
<fieldset>
    <div class="control-group {% if form.name.errors %}error{% endif %} required">
        <label class="control-label" for="id_name">Name *</label>
        <div class="controls">
            {{ form.name}}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.permissions.errors %}error{% endif %}">
        <label class="control-label" for="id_permissions">Permissions</label>
        <div class="controls">
            {{ form.permissions}}
            {% if form.permissions.errors %}
                {% for error in form.permissions.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</fieldset>

