{% load pagination_tags sorting better_admin %}

{% auto_sort object_list %}
{% autopaginate object_list 25 %}
<table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>{% sort_link "Permission Name" "name" %}</th>
                    <th>{% sort_link "Content Type" "content_type" %}</th>
                    <th>{% sort_link "Code Name" "codename" %}</th>
                </tr>
            </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.content_type }}</td>
            <td>{{ object.codename }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% paginate %}

