<div align="middle">
    <div class="btn-group">
        <a class="btn btn-mini" href="#">
             <i class="icon-share-alt"></i>
        </a>
        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="./{{ object.pk }}/" class="pull-left"><i class="icon-play"></i>&nbsp;&nbsp;&nbsp;Detailed View</a>
            </li>
            <li>
                <a href="./{{ object.pk }}/update/?{{ request.GET.urlencode }}" class="pull-left"><i class="icon-edit"></i>&nbsp;&nbsp;&nbsp;Edit</a>
            </li>
        </ul>
    </div>
</div>

