{% extends 'better_admin/base_better_admin.html' %}
{% load bootstrap_toolkit %}
{% block page_header %}
    <h1>User Detail</h1>
{% endblock %}
{% block content %}
<div class="span12">
    <div class="span2"></div>
    <div class="span6">
        <legend>User Detail</legend>
    <div class="row-fluid">
        <div class="span3"><b>User Name</b></div>
        <div class="span9">{{ object.username}}</div>
    </div>
    <div class="row-fluid">
        <div class="span3"><b>First Name</b></div>
        <div class="span9">{{ object.first_name}}</div>
    </div>
     <div class="row-fluid">
        <div class="span3"><b>Last Name</b></div>
        <div class="span9">{{ object.last_name}}</div>
    </div>
     <div class="row-fluid">
        <div class="span3"><b>Email</b></div>
        <div class="span9">{{ object.email }}</div>
    </div>
     <div class="row-fluid">
        <div class="span3"><b>Superuser</b></div>
        <div class="span9">{{ object.is_superuser}}</div>
    </div>
     <div class="row-fluid">
        <div class="span3"><b>KAM</b></div>
        <div class="span9">{{ object.is_staff}}</div>
    </div>
    <div class="row-fluid">
        <div class="span3"><b>Active</b></div>
        <div class="span9">{{ object.is_active}}</div>
    </div>
    <div class="row-fluid">
        <div class="span3"><b>Last Login</b></div>
        <div class="span9">{{ object.last_login}}</div>
    </div>
    </div>

    <div class="span4"></div>
</div>


{% endblock %}
