{% load widget_tweaks %}
<fieldset>
    <div class="control-group {% if form.username.errors %}error{% endif %} required">
        <label class="control-label" for="id_username">Username *</label>
        <div class="controls">
            {{ form.username }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.password.errors %}error{% endif %} required">
        <label class="control-label" for="id_password">Password *</label>
        <div class="controls">
            {{ form.password|attr:"type:password" }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.email.errors %}error{% endif %} required">
        <label class="control-label" for="id_email">Email address</label>
        <div class="controls">
            {{ form.email }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.first_name.errors %}error{% endif %}">
        <label class="control-label" for="id_first_name">First name</label>
        <div class="controls">
            {{ form.first_name }}
            {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.last_name.errors %}error{% endif %}">
        <label class="control-label" for="id_last_name">Last name</label>
        <div class="controls">
            {{ form.last_name }}
            {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.is_superuser.errors %}error{% endif %}">
        <label class="control-label" for="id_is_superuser">Superuser</label>
        <div class="controls">
            {{ form.is_superuser }}
            {% if form.is_superuser.errors %}
                {% for error in form.is_superuser.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <span class="help-inline">Designates that this user has all permissions.</span>
        </div>
    </div>
    <div class="control-group {% if form.is_staff.errors %}error{% endif %}">
        <label class="control-label">KAM</label>
        <div class="controls">
            {{ form.is_staff }}
            {% if form.is_staff.errors %}
                {% for error in form.is_staff.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <span class="help-inline">Designates whether the user is KAM.</span>
        </div>
    </div>
    <div class="control-group {% if form.is_active.errors %}error{% endif %}">
        <label class="control-label">Active Status</label>
        <div class="controls">
            {{ form.is_active }}
            {% if form.is_active.errors %}
                {% for error in form.is_active.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <span class="help-inline">Designates whether this user should be treated as active.</span>
        </div>
    </div>
    <div class="control-group {% if form.user_permissions.errors %}error{% endif %}">
        <label class="control-label" for="id_user_permissions">User permissions</label>
        <div class="controls">
            {{ form.user_permissions }}
            {% if form.user_permissions.errors %}
                {% for error in form.user_permissions.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <span class="help-inline">Specific permissions for this user. Hold down "Control", or "Command" on a Mac, to select more than one.</span>
        </div>
    </div>
    <div class="control-group {% if form.groups.errors %}error{% endif %}">
        <label class="control-label" for="id_groups">Groups</label>
        <div class="controls">
            {{ form.groups }}
            {% if form.groups.errors %}
                {% for error in form.groups.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        <a href="/auth/group/popup" class="add-another" id="add_id_groups" onclick="return showAddAnotherPopup(this);"> +</a>
            <span class="help-inline">The groups this user belongs to. A user will get all permissions granted to each of his/her group. Hold down "Control", or "Command" on a Mac, to select more than one.</span>
        </div>
    </div>
</fieldset>

<div hidden>
    {{ form.last_login }}
    {{ form.date_joined }}
</div>
