{% extends 'better_admin/base_better_admin.html' %}
{% load bootstrap_toolkit %}

{% block content %}
    <div class="container-narrow">
        <form class="form-horizontal well" method="POST" action="{{ request.get_full_path }}">
        	{% csrf_token %}
            <fieldset>
                <legend>Create {{ view.get_model_name }}</legend>
                {{ form|as_bootstrap }}
            </fieldset>
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Submit" />
                <button class="btn">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}
