{% extends 'better_admin/base_better_admin.html' %}
{% load bootstrap_toolkit %}

{% block content %}
    <div class="container-narrow">
        <form class="form-horizontal" method="POST" action="{{ request.get_full_path }}">
            {% csrf_token %}
            <fieldset>
                <legend>Delete {{ view.get_model_name }}</legend>
                <p>Are you sure you want to delete this record?</p>
            </fieldset>
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Delete" />
                <a href="./">Cancel</a>
            </div>         
        </form>
    </div>
{% endblock %}
