{% extends 'better_admin/base_better_admin.html' %}
{% load bootstrap %}

{% block content %}
    <form class="form-horizontal well" method="POST" action="{{ request.get_full_path }}">
        {% csrf_token %}
        <fieldset>
            <legend>Delete {{ view.get_model_name }}</legend>
        </fieldset>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Delete" />
            <a class="btn" href="{{ next }}">Cancel</button>
        </div>         
    </form>
{% endblock %}
