{% extends 'better_admin/base_better_admin.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap_toolkit widget_tweaks %}

{% block content %}
    <div class="row-fluid">
        <div class="span10">
            <form action="" method="post" id="id_action_posts" class="form-inline">
                {% csrf_token %}
                <p>
                    {% include 'actions_select.html' %}
                </p>
                {% render_table table %}
            </form>
        </div>
        <div class="span2">
            <form class="well form form-horizontal" method="GET" action="{{ request.get_full_path }}">
                {% for field in filter.form %}
                    <p>{% render_field field placeholder=field.label class+="span12" %}</p>
                {% endfor %}
                <input type="submit" class="btn btn-block btn-primary" value="Filter" />
            </form>
            <a class="btn btn-block btn-success" href="{{ view.get_create_url }}">Create</a>
        </div>
    </div>
{% endblock %}
