{% extends 'better_admin/base_better_admin.html' %}
{% load better_admin %}

{% block content %}
    <div class="container-narrower">
        <legend>
            {{ object }} Details
            <div class="btn-group pull-right">
                <a class="btn btn-warning" href="./update/?{{ request.GET.urlencode }}"><i class="icon-edit icon-white"></i></a>
                <a class="btn btn-danger" href="./delete/?{{ request.GET.urlencode }}"><i class="icon-trash icon-white"></i></a>
                <a class="btn btn-success" href="../?{{ request.GET.urlencode }}"><i class="icon-list icon-white"></i></a>
            </div>
        </legend>
        <table class="table table-striped">
            {% for field in view.get_model_fields %}
            <tr>
                <td><strong>{{ field.verbose_name|title }}</strong></td><td>{% include "better_admin/field.html" %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
