{% extends 'better_admin/base_better_admin.html' %}
{% load better_admin %}

{% block content %}
    <div class="container-narrow">
        <legend>{{ object }}</legend>
        <dl class="dl-horizontal">
            {% for field in view.get_model_fields %}
                <dt>{{ field.verbose_name|title }}</dt><dd>{{ object|get_field_value:field.name }}</dd>
            {% endfor %}
        </dl>
        <div class="form-actions">
            <a class="btn btn-primary" href="./update">Update</a>
            <a class="btn btn-danger" href="./delete">Delete</a>
        </div>         
    </div>
{% endblock %}
