{% extends 'better_admin/base_better_admin.html' %}
{% load bootstrap_toolkit widget_tweaks better_admin %}

{% block content %}
<div class="row-fluid">
    <div class="span2">
        <form class="form form-horizontal" method="GET" action="{{ request.get_full_path }}">
            <fieldset>
                {% for field in filter.form %}
                    {% with field_type=field|get_form_field_type %}
                    {% if not field.name in extra.exclude %}
                        {% if field_type == 'RangeField' %}
                        <p>{% render_field field placeholder=field.label.title class+="span6" %}</p>
                        {% elif field_type == 'CharField' %}
                        <p>{% render_field field placeholder=field.label.title class+="span12" %}</p>
                        {% else %}
                        <p>{% render_field field placeholder=field.label.title class+="span12" %}</p>
                        {% endif %}
                    {% endif %}
                    {% endwith %}
                {% endfor %}
            </fieldset>
            <div class="btn-group pull-right">
                <button type="submit" class="btn btn-warning"><i class="icon-filter icon-white"></i></button>
                <a href="{{ request.path }}" class="btn btn-danger"><i class="icon-remove icon-white"></i></a>
            </div>
        </form>
    </div>
    <div class="span10">
        {% bootstrap_messages %}
        <form action="" method="post" id="id_action_posts" class="form-inline">
            {% csrf_token %}
            <div class="row-fluid" style="padding-bottom: 20px;">
                <div class="span6">
                    {% include 'django_actions/actions_select.html' %}
                </div>
                <div class="span6">
                    <div class="btn-group pull-right">
                        {% if request.user.is_superuser %}
                            <a class="btn btn-primary" href="./export/?{{ request.GET.urlencode }}"><i class="icon-arrow-down icon-white"></i></a>
                        {% endif %}
                        {% with view.get_app_name.lower|add:".add_"|add:view.get_model_name.lower as perm %}
                            {% if perm in perms %}
                                <a class="btn btn-success" href="./create/?{{ request.GET.urlencode }}"><i class="icon-plus icon-white"></i></a>
                            {% endif %}
                        {% endwith %}
                        {% if request.user.is_superuser %}
                            <a class="btn btn-primary" href="./import/?{{ request.GET.urlencode }}"><i class="icon-arrow-up icon-white"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if object_list %}
            {% include 'better_admin/table.html' %}
            {% else %}
                Empty
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
