{% load pagination_tags sorting better_admin %}

{% auto_sort object_list %}
{% autopaginate object_list 10 %}
<div class="table-collapse">
    <table class="table table-striped">
        {% for object in object_list %}
        {% if forloop.first %}
        <thead>
            <tr>
                <th class="select"><input type="checkbox"></th>
                {% for field in view.get_model_fields %}
                {% ifnotequal field|get_field_type 'AutoField'  %}
                <th>{% sort_link field.verbose_name|title field.name %}</th>
                {% endifnotequal %}
                {% endfor %}
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
        {% endif %}
            <tr>
                <td><input type="checkbox" name="action-select" value="{{ object.pk }}"></td>
                {% for field in view.get_model_fields %}
                {% if field|get_field_type != 'AutoField' %}
                {% include 'better_admin/field.html' %}
                {% endif %}
                {% endfor %}
                <td style="padding-left:20px">
                    <a href="./{{ object.pk }}/?{{ request.GET.urlencode }}"><i class="icon-play"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% paginate %}